*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root, .black{
    --background1: #1A1D23;
    --background1-hover: #2a2f38;
    --background2: #15171c;
    --lines: #ccc;

    --text-color1: #f2f2f2;
    --text-color2: #1A1D23;

    --btn-background:#f2f2f2; 
    --nav-active: #ABA2CD;

    --online: #1fff0f;
    --offline: #f72119;
    --away: #fff01f;
}

:root, .white{
    --background1: #edf2f4;
    --background1-hover: #ebebeb;
    --background2: #e6e6e6;
    --lines: #ccc;
   

    --text-color1: #1A1D23;
    --text-color2: #1A1D23;

    --btn-background:rgb(255, 255, 255); 


    --nav-active: #fffa1d;

    --online: #1fff0f;
    --offline: #f72119;
    --away: #fff01f;
}

@media (max-width: 1080px) {
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html{
        font-size: 87.5%;
    }
}

body{
    background-color: var(--background1);
    
}

body, input, textarea, select, button {
    font: 400 1rem 'Inter', sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}


