.sidebar{
    background: var(--background2);

    height: 100vh;
    min-width: 20vw!important;
    max-width: 30vw!important;
        
    display: flex;
    flex-direction: column;

    resize: horizontal;
    overflow: auto;

    .sidebarWraper{
        width: 100%;
    }
}