.sidebarLink{
    display: flex;
    color: var(--text-color1);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style-type: none;
    height: 60px;
    font-size: 18px;

    text-decoration: none;
    &:hover{
        background: var(--background1-hover);
        border-left: 4px solid var(--nav-active);
        cursor: pointer;
    }
    span{
        margin-left: 16px;
    }
}

.dropdonwLink{
    background: var(--background1-hover);
    height: 60px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color1);
    font-size: 18px;
    gap: 20px;
    &:hover{
        background:var(--nav-active);
        cursor: pointer;
    }
}

